In [1]:
%matplotlib inline

from numpy import nan
from pandas import (DataFrame, date_range)
import matplotlib.pyplot as plt

from alphalens.tears import create_returns_tear_sheet, create_information_tear_sheet, \
    create_turnover_tear_sheet, create_summary_tear_sheet, create_full_tear_sheet, \
    create_event_returns_tear_sheet, create_event_study_tear_sheet

from alphalens.utils import get_clean_factor_and_forward_returns

In [11]:
#
# build price
#
price_index = date_range(start='2015-1-10', end='2015-2-28')
price_index.name = 'date'
tickers = ['A', 'B', 'C', 'D', 'E', 'F']
data = [[1.0025**i, 1.005**i, 1.00**i, 0.995**i, 1.005**i, 1.00**i]
        for i in range(1, 51)]
prices = DataFrame(index=price_index, columns=tickers, data=data)

#
# build factor
#
factor_index = date_range(start='2015-1-15', end='2015-2-13')
factor_index.name = 'date'
factor = DataFrame(index=factor_index, columns=tickers,
                   data=[[3, 4, 2, 1, nan, nan], [3, nan, nan, 1, 4, 2],
                         [3, 4, 2, 1, nan, nan], [3, 4, 2, 1, nan, nan],
                         [3, 4, 2, 1, nan, nan], [3, 4, 2, 1, nan, nan],
                         [3, nan, nan, 1, 4, 2], [3, nan, nan, 1, 4, 2],
                         [3, 4, 2, 1, nan, nan], [3, 4, 2, 1, nan, nan],
                         [3, nan, nan, 1, 4, 2], [3, nan, nan, 1, 4, 2],
                         [3, nan, nan, 1, 4, 2], [3, nan, nan, 1, 4, 2],
                         [3, nan, nan, 1, 4, 2], [3, nan, nan, 1, 4, 2],
                         [3, nan, nan, 1, 4, 2], [3, nan, nan, 1, 4, 2],
                         [3, nan, nan, 1, 4, 2], [3, nan, nan, 1, 4, 2],
                         [3, 4, 2, 1, nan, nan], [3, 4, 2, 1, nan, nan],
                         [3, 4, 2, 1, nan, nan], [3, 4, 2, 1, nan, nan],
                         [3, 4, 2, 1, nan, nan], [3, 4, 2, 1, nan, nan],
                         [3, 4, 2, 1, nan, nan], [3, 4, 2, 1, nan, nan],
                         [3, nan, nan, 1, 4, 2], [3, nan, nan, 1, 4, 2]]).stack()
factor_groups = {'A': 'Group1', 'B': 'Group2', 'C': 'Group1', 'D': 'Group2', 'E': 'Group1', 'F': 'Group2'}

In [12]:
factor

date
2015-01-15  A    3.0
            B    4.0
            C    2.0
            D    1.0
2015-01-16  A    3.0
                ...
2015-02-12  F    2.0
2015-02-13  A    3.0
            D    1.0
            E    4.0
            F    2.0
Length: 120, dtype: float64

In [4]:
prices

                   A         B    C         D         E    F
date
2015-01-10  1.002500  1.005000  1.0  0.995000  1.005000  1.0
2015-01-11  1.005006  1.010025  1.0  0.990025  1.010025  1.0
2015-01-12  1.007519  1.015075  1.0  0.985075  1.015075  1.0
2015-01-13  1.010038  1.020151  1.0  0.980150  1.020151  1.0
2015-01-14  1.012563  1.025251  1.0  0.975249  1.025251  1.0
2015-01-15  1.015094  1.030378  1.0  0.970373  1.030378  1.0
2015-01-16  1.017632  1.035529  1.0  0.965521  1.035529  1.0
2015-01-17  1.020176  1.040707  1.0  0.960693  1.040707  1.0
2015-01-18  1.022726  1.045911  1.0  0.955890  1.045911  1.0
2015-01-19  1.025283  1.051140  1.0  0.951110  1.051140  1.0
2015-01-20  1.027846  1.056396  1.0  0.946355  1.056396  1.0
2015-01-21  1.030416  1.061678  1.0  0.941623  1.061678  1.0
2015-01-22  1.032992  1.066986  1.0  0.936915  1.066986  1.0
2015-01-23  1.035574  1.072321  1.0  0.932230  1.072321  1.0
2015-01-24  1.038163  1.077683  1.0  0.927569  1.077683  1.0
2015-01-25  1.040759  1.083071  1.0  0.922931  1.083071  1.0
2015-01-26  1.043361  1.088487  1.0  0.918316  1.088487  1.0
2015-01-27  1.045969  1.093929  1.0  0.913725  1.093929  1.0
2015-01-28  1.048584  1.099399  1.0  0.909156  1.099399  1.0
2015-01-29  1.051206  1.104896  1.0  0.904610  1.104896  1.0
2015-01-30  1.053834  1.110420  1.0  0.900087  1.110420  1.0
2015-01-31  1.056468  1.115972  1.0  0.895587  1.115972  1.0
2015-02-01  1.059109  1.121552  1.0  0.891109  1.121552  1.0
2015-02-02  1.061757  1.127160  1.0  0.886654  1.127160  1.0
2015-02-03  1.064411  1.132796  1.0  0.882220  1.132796  1.0
2015-02-04  1.067072  1.138460  1.0  0.877809  1.138460  1.0
2015-02-05  1.069740  1.144152  1.0  0.873420  1.144152  1.0
2015-02-06  1.072414  1.149873  1.0  0.869053  1.149873  1.0
2015-02-07  1.075096  1.155622  1.0  0.864708  1.155622  1.0
2015-02-08  1.077783  1.161400  1.0  0.860384  1.161400  1.0
2015-02-09  1.080478  1.167207  1.0  0.856082  1.167207  1.0
2015-02-10  1.083179  1.173043  1.0  0.851802  1.173043  1.0
2015-02-11  1.085887  1.178908  1.0  0.847543  1.178908  1.0
2015-02-12  1.088602  1.184803  1.0  0.843305  1.184803  1.0
2015-02-13  1.091323  1.190727  1.0  0.839089  1.190727  1.0
2015-02-14  1.094051  1.196681  1.0  0.834893  1.196681  1.0
2015-02-15  1.096787  1.202664  1.0  0.830719  1.202664  1.0
2015-02-16  1.099528  1.208677  1.0  0.826565  1.208677  1.0
2015-02-17  1.102277  1.214721  1.0  0.822432  1.214721  1.0
2015-02-18  1.105033  1.220794  1.0  0.818320  1.220794  1.0
2015-02-19  1.107796  1.226898  1.0  0.814229  1.226898  1.0
2015-02-20  1.110565  1.233033  1.0  0.810157  1.233033  1.0
2015-02-21  1.113341  1.239198  1.0  0.806107  1.239198  1.0
2015-02-22  1.116125  1.245394  1.0  0.802076  1.245394  1.0
2015-02-23  1.118915  1.251621  1.0  0.798066  1.251621  1.0
2015-02-24  1.121712  1.257879  1.0  0.794075  1.257879  1.0
2015-02-25  1.124517  1.264168  1.0  0.790105  1.264168  1.0
2015-02-26  1.127328  1.270489  1.0  0.786154  1.270489  1.0
2015-02-27  1.130146  1.276842  1.0  0.782224  1.276842  1.0
2015-02-28  1.132972  1.283226  1.0  0.778313  1.283226  1.0

In [13]:
factor.index.na

FrozenList(['date', None])

In [6]:
factor_data = get_clean_factor_and_forward_returns(
    factor,
    prices,
    groupby=factor_groups,
    quantiles=4,
    periods=(1, 3),
    filter_zscore=None)

Dropped 0.0% entries from factor data: 0.0% in forward returns computation and 0.0% in binning phase (set max_loss=0 to see potentially suppressed Exceptions).
max_loss is 35.0%, not exceeded: OK!

In [7]:
factor_data.head(10)

                      1D        3D  factor   group  factor_quantile
date       asset
2015-01-15 A      0.0025  0.007519     3.0  Group1                3
           B      0.0050  0.015075     4.0  Group2                4
           C      0.0000  0.000000     2.0  Group1                2
           D     -0.0050 -0.014925     1.0  Group2                1
2015-01-16 A      0.0025  0.007519     3.0  Group1                3
           D     -0.0050 -0.014925     1.0  Group2                1
           E      0.0050  0.015075     4.0  Group1                4
           F      0.0000  0.000000     2.0  Group2                2
2015-01-17 A      0.0025  0.007519     3.0  Group1                3
           B      0.0050  0.015075     4.0  Group2                4

In [8]:
from alphalens.performance import factor_information_coefficient, mean_return_by_quantile

In [9]:
factor_information_coefficient(factor_data=factor_data, group_adjust=False, by_group=True)

                    1D   3D
date       group
2015-01-15 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-16 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-17 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-18 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-19 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-20 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-21 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-22 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-23 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-24 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-25 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-26 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-27 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-28 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-29 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-30 Group1  1.0  1.0
           Group2  1.0  1.0
2015-01-31 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-01 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-02 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-03 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-04 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-05 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-06 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-07 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-08 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-09 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-10 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-11 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-12 Group1  1.0  1.0
           Group2  1.0  1.0
2015-02-13 Group1  1.0  1.0
           Group2  1.0  1.0

In [10]:
mean_return_by_quantile(
    factor_data=factor_data
)

(                       1D        3D
 factor_quantile
 1               -0.005625 -0.016842
 2               -0.000625 -0.001917
 3                0.001875  0.005602
 4                0.004375  0.013158,
                            1D            3D
 factor_quantile
 1                8.201674e-18  1.189528e-17
 2                6.203619e-18  6.901915e-18
 3                1.526303e-17  1.563847e-17
 4                1.540636e-17  1.268323e-17)